@model List<DogViewModel>

@{

}
<p class="h1">Hello Workd bro!</p>
<br>
<p class="p">This is the index page of the HelloWorld Controller</p>

<ul>
    @foreach (var dog in Model)
    {
        <li>@dog.Name (@dog.Age)</li>
    }
    

    
</ul>
