@model DogViewModel

@{

}
<p class="h1">Hello Workd bro!</p>
<br>
<p class="p">This is the index page of the HelloWorld Controller</p>
<h4>A dog named @Model.Name says hello</h4>
<h4>@Model.Name is @Model.Age years old</h4>